<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <!-- Navigatiebalk -->
    <nav class="navbar">
        <ul>
            <li><a href="admin.html">Home</a></li>
            <li><a href="#">Instellingen</a></li>
            
                    <li><a id="scanNowLink" href="#">Scan Now</a></li>
                </ul>
            </li>
        </ul>
        <div class="user-info">
            Ingelogd als: {{ user_name }} ({{ user_role }})
            <a href="{{ url_for('logout') }}" class="logout-link">Uitloggen</a>
        </div>
        
    </nav>

    <!-- Hoofdinhoud -->
    <div class="container">
        <h1>Admin Dashboard</h1>
        <p>Welkom op het admin-dashboard. Kies een optie in de navigatiebalk.</p>
    </div>

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
